*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    overflow: hidden;
}
html,body{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#768aff, #0f228a);
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
   
}


nav{
    width: 100%;
    height: 15%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
   
}
footer{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 5%;
    display: flex;
}

nav img{
    padding-top: 10px;
    width: 50px;
    height: 80%;   
}


nav .nav-line{
    margin-top: 5px;
    width: 30%;
    height: 1%;
    background-color: #eeeeee;
    border-radius: 50%;    
}

.main-text{
    
    width: 50%;
    height: 100%;
   
}

.main-img{
    
    width: 50%;
    height: 100%;
    background-image: url("./NeonWebpage_Img/neon.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
    
}

.main-text .text{
    max-width: 600px;
    position: absolute;
    top:30%;
    left:20%;
}
.main-text .text h2{
   font-size: 36px;
   color: rgb(243, 243, 243);
   letter-spacing: 3px;
}
.main-text .text h1{
    
    font-size: 48px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    letter-spacing: 1px;
    text-transform: uppercase;
 }
 .main-text .text p{
    margin-top: 10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-weight: 100;
    line-height: 20px;   
 }
 .main-text .text button{
     text-align: left;
     width: 28%;
     height: 8%;
     background-color: transparent;
     /* border: 1px solid black; */
     outline: none;
     border: none;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
 }
 .main-text .text button img{
     width: 0px;
     padding-left: 10px;
     transition: 0.5s;
}
.main-text .text button:hover{
    
   width: 30%; 
}
.main-text .text button:hover img{
    width: 40px;
     
}
.main-text  aside{
    position: absolute;
    bottom: 20%;
    left: 20%;
    text-transform: capitalize;
    width: 4px;
    height: 20%;
    background-color:#e7eafc;
    border-radius: 2px;
    
}
.main-text  aside:hover{ 
    left: 20%;
    text-transform: capitalize;
    width: 220px;
    transition: 1s;
}

footer .search{
    width: 30%;
    height: 100%;
    display: flex;
    padding-left: 10%;
    align-items: center;
    
}

footer .search img{
    width:16px;
    cursor: pointer;
}


footer .social{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50%;
    
}
footer .social i{
    font-size: 16px;
    color: rgba(248, 248, 248, 0.808);
    padding: 10px;
    font-weight: 100;
}
footer .social i:hover{
    color: black;
    font-size: 18px;
}


@media only screen and (max-width:700px){
    nav img{
        width: 30px;
        height: 60%;
    }
    nav .nav-line{
        width: 50%;
    }
    .main{
        flex-direction:column-reverse;

    }
    .main-text{
        width: 100%;
    }
    .main-img{
        width: 100%;
        height: 100%;
        
    }
    .main-text .text{
        max-width: 300px; 
        top:25%;
        left:10%;
    }
    .main-text .text h2{
        font-size: 24px;
      
     }
    .main-text .text h1{
    
        font-size: 34px;
        
     }
     .main-text .text p{
        
        font-size: 10px;
          
     }
     .main-text  aside{
        left: 10%;
        width: 4px;
        height: 15%; 
    }
    .main-text  aside:hover{ 
        left: 10%;
        text-transform: capitalize;
        width: 220px;
        transition: 1s;
    }
    .main-text .text button{
        width: 30%;
        font-size: 8px;
    }
    .main-text .text button img{
        width: 0px;
        padding-left: 10px;
        transition: 0.5s;
   }
   .main-text .text button:hover{
    
    width: 40%; 
 }
 .main-text .text button:hover img{
     width: 25px;
      
 }
    footer .social{
       
        padding-left: 40%;       
    }
}
@media only screen and (min-width:701px) and (max-width: 1024px){
  
    .main-text  aside{ 
        left: 10%;
        
    }
    .main-text .text{
       
        left:10%;
    }
    nav img{
        
        width: 45px;
        height: 50%;   
    }
    
     
}
@media only screen and (min-width:1025px) and (max-width: 1380px){
  
    .main-text  aside{ 
        left: 10%;
        
    }
    .main-text .text{
       
        left:10%;
    }
    nav img{
        
        width: 45px;
        height: 50%;   
    }
}
@media only screen and (min-width:1380px) and (max-width: 1440px){
  
    .main-text  aside{ 
        left: 10%;
        
    }
    .main-text .text{
       
        left:10%;
    }
    nav img{
        
        width: 45px;
        height: 50%;   
    }
}
@media only screen and (min-width:1441px) and (max-width: 1920px){
  
    .main-text  aside{ 
        left: 10%;
        
    }
    .main-text .text{
       
        left:10%;
    }
    nav img{
        
        width: 45px;
        height: 50%;   
    }
}